@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:ital,wght@0,300;1,300;1,600&family=Outfit:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    background: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    max-width: 350px;
    margin: 0 auto;    
    font-size: 15px;
}

.img-top {
    background: hsl(0, 0%, 100%);
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    margin: 0 1rem;
}

.qrCode {
    width: 100%;
    padding: auto;    
    border-radius: 10px;
}

.texto {
    padding: 10px 10px;
}

h2 {
    padding-bottom: 20px;
    color: hsl(218, 44%, 22%);
}

p {
    color: hsl(220, 15%, 55%);
}